# DS3000 Lesson 1*

We will dive more in-depth with some of the topics from the lightning review, plus talk about a few new things. When we are going through a topic we've already introduced, I may skip a slide here and there and leave it as practice for you out of class time, but we can always review a slide as needed. This lesson continues with: 

- Operators (Arithmetic & Logical)
- Python types (list, tuple, string, dictionary)
- Flow Control (If-statments)


*(last lesson was Lesson 0 ... python indexes starting at 0)

++ denotes a nuance not necessary for DS3000, but helpful to point out as we (re)welcome everyone to python!

# Python variable names

- can have letters, digits and underscores but may not begin with a digit
- python is case sensitive (though, by convention, variables are all lower case.  use underscores to seperate words)

In [1]:
# string (you can use single or double quotes). 
some_string = 'a'
some_other_string = "a"

# integer
some_int = 3

# float
some_float = 1.2345

# bool
sunny_day = True

## Arithmetic Operators
| Python operation | Arithmetic operator | Python expression
| :-------- | :-------- | :-------- 
| Addition | `+`  | `f + 7` 
| Subtraction | `â€“` | `p - c` 
| Multiplication | `*` | `b * m` 
| Exponentiation | `**` |  `x ** y` 
| True division | `/` | `x / y` 
| Floor division | `//` | `x // y` 
| Remainder (modulo) | `%` | `r % s` 

* [All operators and their precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence)

In [2]:
11 / 2

5.5

In [3]:
# integer division (floor division discards any remainder)
11 // 2

5

In [4]:
# get remainder after integer division
11 % 2

1

In [5]:
# arithmetic operators are defined for non-numbers too!
# like strings
'a' + 'b'

'ab'

## Logical Operators

Algebraic operator | Python operator | Sample condition | Meaning 
:---- | :---- | :---- | :----
&gt;  | `>` | `x > y` | `x` is greater than `y`
&lt;  | `<` | `x < y` | `x` is less than `y`
&ge; | `>=` | `x >= y` | `x` is greater than or equal to `y`
&le; | `<=` | `x <= y` | `x` is less than or equal to `y`
= | `==` | `x == y` | `x` is equal to `y`
&ne; | `!=` | `x != y` | `x` is not equal to `y`

In [6]:
a = 3
b = 10

a != b

True

In [7]:
# python "syntactic sugar": evaluating if a number is in a range
x = 10

100 <= x < 200

False

In [8]:
# produces TypeError: objects must be compare-able
# 10 < 'a'

In [9]:
# python bad habit, don't use "is" to compare objects 
# (it sometimes works, which makes it a subtle error to catch)

# works for strings
x = 'a'
y = 'a'
x is y

True

In [10]:
# doesn't work for floats
x = 1.23
y = 1.23
x is y

False

`is` tests if the variables point to the same object ... ++[Strings](https://en.wikipedia.org/wiki/String_literal) behave a bit differently.

## Type Casting (converting between variable types)

In [11]:
# `type()` returns the object type
a = 1
type(a)

int

In [12]:
a = float(1)
type(a)

float

In [13]:
a = float('3')
type(a)

float

## Control Flow w/ Logical Operators (if blocks)

In [14]:
grade = 91
if grade >= 93:
    print('youve earned an a')
elif grade >= 90:
    print('youve earned an a-')
else:
    print('some other grade')

youve earned an a-

## Boolean operators (and, or, not)

In [15]:
grade = 91
name = 'eric'
if grade < 93 and name == 'eric':
    print('you would think the instructor could get an a in their own class ...')

you would think the instructor could get an a in their own class ...

# `input()`

In [16]:
# ## Getting input from user
# print('hi, whats your name?')
# name = input()
# type(name)

## Lists
A python **list** is:
- an ordered sequence of objects
- **mutable** (mutable objects can be modified, immutable objects (like tuples) may not)
- implemented as a [dynamic array](https://en.wikipedia.org/wiki/Linked_list#Linked_lists_vs._dynamic_arrays)

see [python doc](https://docs.python.org/3/tutorial/datastructures.html) for more detail

### Initializing a list, adding, inserting and appending elements

In [17]:
# how to make a list
some_list = [1, 2, 'hello', 'hello']

In [18]:
# addressing an element (note: we start indexing at 0)
some_list[0]

1

In [19]:
# finding index of items equal to 1
some_list.index(1)

0

In [20]:
# note that we find index of the first occurance
# (there are two `hello` entries, but we only get index of first one)
some_list.index('hello')

2

In [21]:
# what happens if the item isn't in the list?
# some_list.index('are you in there?')

In [22]:
# how should we check if an item is in a list?
'are you in there?' in some_list

False

In [23]:
# append a single item to the end of a list
some_list.append('asdf')
some_list

[1, 2, 'hello', 'hello', 'asdf']

In [24]:
# insert a single item to an arbitrary location of a list
# note: we push list at, and including index, to the right to make room
some_list.insert(0, 'a new beginning')
some_list

['a new beginning', 1, 2, 'hello', 'hello', 'asdf']

In [25]:
# insert a single item to an arbitrary location of a list
some_list.insert(3, 'a middle child')
some_list

['a new beginning', 1, 2, 'a middle child', 'hello', 'hello', 'asdf']

In [26]:
# popping a single item out of the list
third_item = some_list.pop(3)
third_item

'a middle child'

In [27]:
# notice that after popping removes the item from the list
some_list

['a new beginning', 1, 2, 'hello', 'hello', 'asdf']

## Slicing a list (part 1)
A slice refers to a "contiguous" run of items in a list.  Slicing returns these elements from the list.

![](https://i.ibb.co/JK1VHpy/list1.png)

In [28]:
# lets build the example above
c = [-45, 6, 0, 72, 1543]
c

[-45, 6, 0, 72, 1543]

In [29]:
# the first index is the starting index (included in slice)
# the second index is the ending index (not included in slice)
c[2:5]

[0, 72, 1543]

In [30]:
# by default, if we exclude the starting index it is assumed to be 0
c[:2]

[-45, 6]

In [31]:
# by default, if we exclude the ending index it is assumed the length of the list
c[2:]

[0, 72, 1543]

## Slicing a list (part 2)

Negative indices are helpful if we want to start counting from the "end" of a list:

![](https://i.ibb.co/RGF8sPW/list2.png)

In [32]:
c = [-45, 6, 0, 72, 1543]

In [33]:
# just the same as c[3:5]
c[-2:5]

[72, 1543]

In [34]:
# this backwards counting & default ending index make for an elegant way to get the last n elements of a list
c[-3:]

[0, 72, 1543]

We might be interested in skipping through the list by some constant index (skipping by 2 gets every other index, for example)

In [35]:
c = [-45, 6, 0, 72, 1543]

In [36]:
# starting idx: 0, ending idx: 5, step size: 2
c[0:5:2]

[-45, 0, 1543]

In [37]:
# same as above but now we use defaults
c[::2]

[-45, 0, 1543]

In [38]:
# grab all the odd indexed elements
c[1::2]

[6, 72]

In [39]:
# we can even take negative steps if we want to
c[5:0:-1]

[1543, 72, 0, 6]

In [40]:
# reverses list order
c[::-1]

[1543, 72, 0, 6, -45]

### "Arithmetic" on lists:
- "multiplication" by int: repeat list some number of times
- "addition" with another list: join two lists together

In [41]:
# cast a string to a list
my_list = list('echo ')

In [42]:
# multiplying a list by an integer
my_list * 3

['e', 'c', 'h', 'o', ' ', 'e', 'c', 'h', 'o', ' ', 'e', 'c', 'h', 'o', ' ']

In [43]:
# adding two lists together (unlike typical addition, order matters!)
another_list = list('abc')
my_list + another_list

['e', 'c', 'h', 'o', ' ', 'a', 'b', 'c']

Generally, python often defines the behavior of operators on objects without the typical numerical meaning.

(++) When building your own object, you may overload arithmetic, logical and comparison operations so that it has an intuitive meaning in your application.

For example, consider an object which contains statistics on a brain region:

``` python
brain_region0 + brain_region1
```
may return a region whose volume is the union of both region, and contains statistics derived from its constituent regions.

### Helpful list functions (min, max, len, sorted)

In [44]:
list_of_ints = [2, 11, -10, 4, -100]

In [45]:
min(list_of_ints)

-100

In [46]:
max(list_of_ints)

11

In [47]:
# number of elements in the list
len(list_of_ints)

5

In [48]:
# return a sorted copy of the list (increasing order)
sorted_list_of_ints = sorted(list_of_ints)
sorted_list_of_ints

[-100, -10, 2, 4, 11]

You can also sort in [reverse](https://docs.python.org/3/library/functions.html#sorted) (decreasing order) by using the `reverse` parameter

In [49]:
sorted_list_of_ints = sorted(list_of_ints, reverse=True)
sorted_list_of_ints

[11, 4, 2, -10, -100]

## Tuples
A tuple is
- an ordered, immutable list of objects

In [50]:
a_tuple = ('a', 1, 'asdf')
a_tuple

('a', 1, 'asdf')

In [51]:
# careful with the tuple constructor (it takes a single input which is a tuple)
a_tuple = tuple(('a', 1, 'asdf'))
a_tuple

('a', 1, 'asdf')

In [52]:
# you can make a tuple without including the parenthases (this is most common in the code I've seen)
a_tuple = 'a', 1, 'asdf'
a_tuple

('a', 1, 'asdf')

In [53]:
beatles_tuple = 'john', 'ringo', 'paul', 'george'

In [54]:
# you can slice a tuple just like a list:
beatles_tuple[-1]

'george'

In [55]:
beatles_tuple[:2]

('john', 'ringo')

In [56]:
# tuples are immutable, you can't change which items are inside them 
# beatles_tuple[0] = 'yoko ono'

### Tuple unpacking

In [57]:
# build tuple of all beatles
beatles_tuple = 'paul', 'ringo', 'john', 'george'

# tuple unpacking into individual variables
member0, member1, member2, member3 = beatles_tuple
member2

'john'

## Dictionary
python dictionary
- unordered collection which stores key-value pairs 
- mutable

a real-life dictionary matches words to definitions, the words are keys and the definitions are values.  Note that a real-life dictionary is sorted for our convenience, python dictionaries are not!

In [58]:
# stores favorite numbers of some people
# keys are 'eric', 'qi', ...
# values are 17, 7, 3, 1
favorite_number_dict = {'eric':  17, 'qi': 7, 'lynne': 3, 'tamrat': 1}
favorite_number_dict

{'eric': 17, 'qi': 7, 'lynne': 3, 'tamrat': 1}

In [59]:
# use square brackets to "lookup" (below we get the value associated with key 'tamrat')
favorite_number_dict['tamrat']

1

In [60]:
# dictionaries are mutable, we can add key value pairs
favorite_number_dict['zeke'] = 9999
favorite_number_dict

{'eric': 17, 'qi': 7, 'lynne': 3, 'tamrat': 1, 'zeke': 9999}

In [61]:
# keys() returns all the keys of the dict
favorite_number_dict.keys()

dict_keys(['eric', 'qi', 'lynne', 'tamrat', 'zeke'])

In [62]:
# values() returns all the values of the dict
favorite_number_dict.values()

dict_values([17, 7, 3, 1, 9999])

In [63]:
# items() returns (key, value) tuples of all the pairs in the dict
favorite_number_dict.items()

dict_items([('eric', 17), ('qi', 7), ('lynne', 3), ('tamrat', 1), ('zeke', 9999)])

In [64]:
# you can update one dict into another
favorite_number_dict2 = {'eric': 42, 'arthur': 3.14159}

# add (overwrite if need be) key, value pairs from favorite_number_dict2 to favorite_number_dict
favorite_number_dict.update(favorite_number_dict2)

# notice that value associated with key 'eric' was overwritten
favorite_number_dict

{'eric': 42, 'qi': 7, 'lynne': 3, 'tamrat': 1, 'zeke': 9999, 'arthur': 3.14159}

In [65]:
# removing a key, value from a dictionary (by key)
del favorite_number_dict['eric']
favorite_number_dict

{'qi': 7, 'lynne': 3, 'tamrat': 1, 'zeke': 9999, 'arthur': 3.14159}