# DS 3000 Quiz 2

Due by: Tuesday Oct 24 @ 11:59 PM EST

Time Limit: You have 2 hours to complete the assignment once started

## Instructions

This quiz has 100 points total.

- You are welcome to post a private note on piazza, but to keep a consistent testing environment for all students we are unlikely to provide assistance.
- You may not contact other students with information about this this quiz
    - even saying "it was easy/hard" in a general sense can introduce a bias in favor of students who take the quiz earlier or later
- Under no circumstances should you share a copy of this quiz with anyone who isn't a member of the course staff.
- Take this quiz with open notes and feel free to access any online resource / documentation you'd like.  

### Submission Instructions
After completing the quiz below, please follow the instructions below to submit:
1. "Kernel" -> "Restart & Run All"
1. save your quiz file to this latest version
1. upload the `.ipynb` to gradescope **before** clicking submit
1. ensure that you can see your jupyter notebook in the gradescope interface after clicking "submit"

We specify the last note above as gradescope has allowed students to "submit" without uploading a file.  It is your responsibility to ensure that you've actually submitted a file.

### Academic Integrity Pledge

Input your name below to sign the Academic Integrity Pledge before continuing with the quiz. Failure to do so will result in a score of **0**.

In [1]:
name = 'Student Name Here'
print(f'I, {name}, declare that the following work is entirely my own, and that I did not copy or seek help from any students who have currently or previously taken this course, nor from any online source other than private messages between myself and the professor on Piazza/via email.')

I, Student Name Here, declare that the following work is entirely my own, and that I did not copy or seek help from any students who have currently or previously taken this course, nor from any online source other than private messages between myself and the professor on Piazza/via email.

In [2]:
# the following modules will be necessary to complete the quiz
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Exploring, Summarizing and Graphing Data (100 points)

This problem will make use of the `car_crashes` dataset in the seaborn module. This dataset looks at accidents in the states of the USA. This is the data set of the cause of the accidents and the cost to the accident insurance companies. The features of the dataset are:

- `total`: Number of drivers involved in fatal collisions per billion miles
- `speeding`: Percentage Of Drivers Involved In Fatal Collisions Who Were Speeding
- `alcohol`: Percentage Of Drivers Involved In Fatal Collisions Who Were Alcohol-Impaired
- `not_distracted`: Percentage Of Drivers Involved In Fatal Collisions Who Were Not Distracted
- `no_previous`: Percentage Of Drivers Involved In Fatal Collisions Who Had Not Been Involved In Any Previous Accidents
- `ins_premium`: Car Insurance Premiums
- `ins_losses`: Losses incurred by insurance companies for collisions per insured driver
- `abbrev`: USA states

Each part of this problem has you explore the dataset in different ways, including indexing and summarizing statistically. The data are loaded below.

**Note Also:** Your response need not build any functions, but be sure to name variables appropriately and document your process.

In [3]:
df_crash = sns.load_dataset('car_crashes')
df_crash.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

#### Part 1.1 (5 pts)
Return the first 3 rows of df_crash.

#### Part 1.2 (10 pts)
Return the `.head()` of the dataframe of those states whose `alcohol` value is smaller than the average `alcohol` value in the dataset.

#### Part 1.3 (15 pts)
Add a column called `region` to df_crash, where the regions are defined as in the next cell. Print the `.head()` of the resulting df_crash to ensure it worked.

In [4]:
west = ['AK', 'HI', 'CA', 'OR', 'WA', 'ID', 'NV', 'UT', 'CO', 'WY', 'MT']
southwest = ['AZ', 'NM', 'TX', 'OK']
midwest = ['ND', 'SD', 'NE', 'KS', 'MN', 'IA', 'MO', 'WI', 'IL', 'IN', 'MI', 'OH']
southeast = ['AR', 'LA', 'MS', 'TN', 'KY', 'AL', 'GA', 'FL', 'SC', 'NC', 'VA', 'WV', 'DE', 'MD', 'DC']
northeast = ['PA', 'NJ', 'CT', 'RI', 'NY', 'MA', 'NH', 'VT', 'ME']

#### Part 1.4 (10 pts)
Calculate and display the median of each numerical feature in the dataframe.

#### Part 1.5 (10 pts)
Calculate and display the average `speeding` for each `region` (as created in 2.3).

#### Part 1.6 (10 pts)
Build a dataframe of the average numerical features in every region (dataframe should thus have 5 rows, one for each region). Do not include non-numeric features which can't be averaged, like `abbrev`; **Hint**: you may want to read the [`.mean` documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html) to help you figure this one out.

#### Part 1.7 (10 pts)
Use the original dataframe to calculate and display the correlation matrix (all pairwise correlations) between the numeric features.

#### Part 1.8 (10 pts)
Based on the correlation matrix from the previous part, which two features are most strongly related? Which seem least likely to be related? What is the danger with only using the correlation to assess relationships?

#### Part 1.9 (10 pts)
Use the `.pairplot` function from seaborn to create a scatterplot matrix of the numeric features in the original data frame. Make sure that your plot has:

- An informative title
- Well labeled, *readable* axes

**Then** in a markdown cell, discuss if any of the pairs of features have relationships that correlation would not be adequate in describing.

**Note:** when I run this, I get a warning that the figure layout has changed to tight; as long as you can see the plot, don't worry about that.

#### Part 1.10 (10 pts)
Use any of matplotlib, seaborn, or plotly (your choice) to create a single scatter plot of the relationship you think is most interesting from the above pairs of numeric features. Use the data frame from 2.3 and color the points by region. Make sure that your plot has:

- An informative title
- Well labeled, *readable* axes
- A legend

**Then** in a markdown cell, **explain** why you thought this pair of features had the most interesting relationship and if adding the regions provided you with any more insight/information about that relationship.